# Ignore Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/





# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
*.swp
*.swo

.env

# Data files stored on S3
CMIP6Data/CMIP6Meta/
ERA5Data/ERA5Meta/
NasaCMRData/cesm_variables/
NasaCMRData/json_files/
NasaCMRData/noaa_json/
ML Model/predictions/
KGNeptune/neptune_csvs/
